* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  color: white;
  background: #3e3e3e;

  font-family: 'Onest Variable', sans-serif;
}

.input {
  height: 2em;
  width: 200px;
}

.submit {
  height: 2em;
  width: 200px;
}

.result {
  width: 200px;
  background: white;
}
